:root {
    --primary: #252440;
    --color: #db5326;
    --black: #262626;
    --white: #FFF;
    --fuente-principal: 'Outfit', sans-serif;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    background-color: rgb(247, 247, 247);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 2rem;
    font-family: var(--fuente-principal);
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;
}

[class*="contenedor"],
main {
    width: min(95%, 120rem);
    margin: 3rem auto;
}

[class*="heading"] {
    font-size: 4rem;
    text-align: center;
    font-weight: 900;
    color: var(--primary);
    margin: 5rem 0;
}

a{
    text-decoration: none;
}

